.FORCESIZE { font-family: Arial, Helvetica, Geneva; font-size: 13px; text-decoration: none}
.FORCESIZE-11 { font-family: Arial, Helvetica, Geneva; font-size: 11px; text-decoration: none}
.FORCESIZE-10 { font-family: Arial, Helvetica, Geneva; font-size: 10px; text-decoration: none}

/*
     FILE ARCHIVED ON 23:17:45 Apr 01, 2002 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:15:49 Nov 19, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 247.108
  exclusion.robots: 0.063
  exclusion.robots.policy: 0.056
  cdx.remote: 0.055
  esindex: 0.007
  LoadShardBlock: 66.526 (3)
  PetaboxLoader3.datanode: 127.378 (4)
  CDXLines.iter: 17.531 (3)
  load_resource: 219.695
  PetaboxLoader3.resolve: 151.947
*/